services:
  app:
    image: kyunbhaii/fastapi:multi
    build: .
    environment:
      - SERVICE=app
      - PORT=8000
    ports:
      - "8000:8000"

  streamlit:
    image: kyunbhaii/fastapi:multi
    build: .
    environment:
      - SERVICE=streamlit
      - PORT=8501
      - API_URL=http://app:8000
    ports:
      - "8501:8501"
    volumes:
      - ./:/app